body{
  background: url("https://res.cloudinary.com/dhlsvwpny/image/upload/v1690558455/11852427_4858794_dx08tn.jpg") no-repeat fixed;
}
.example-spacer {
    flex: 1 1 auto;
  }

  .main-body{
    padding-top: 20px;
    margin: 0 auto;
    max-width: 1248px;
    mat-form-field{
      width: 100%;
    }
  }

  .table-container {
    overflow-x: auto; /* Enable horizontal scrolling for the table on small screens */
  }

  @media screen and (max-width: 768px) {
    /* Styles for small screens (e.g., mobile devices) */
    mat-form-field {
      width: 100%;
    }
    .main-body{
      max-width: 407px;
    }

    /* Adjust the font size, padding, etc. for better mobile view */
    table {
      font-size: 14px;
    }

    th.mat-header-cell,
    td.mat-cell {
      padding: 8px 16px;
    }

    td.mat-cell {
      white-space: nowrap; /* Prevent cell content from wrapping */
    }

    /* Center align the text in header cells */
    th.mat-header-cell {
      text-align: center;
    }

    /* Center align the text in data cells */
    td.mat-cell {
      text-align: center;
    }
  }